---
layout: default
---
<div class="container">
	<div class="row">
		<div class="col-1"></div>
		<div class="col-10">
            <br>
            <img src="{{ people.image }}" width="150" align="right" />
            <h2>{{ page.title }}</h2>
            <br>
            <p><strong>Bio:</strong> {{ page.bio }}</p>
            <p><strong>Role:</strong> {{ page.role }}</p>
            <p><strong>Industry:</strong> {{ page.industry }}</p>
            <br>
            <p align="center"><a href="/people/"><strong>All People</strong></a></p>
        </div>
        <div class="col-1"></div>
    </div>
</div>